<!DOCTYPE html>
<html>

<head>
	<link href="../static/style.css" type="text/css" th:href="@{/style.css}" rel="stylesheet" />
    <div class="color-bar">
		<ul>
		<li><a class="active" href="/">MilkStgo</a></li>
		</ul>
	</div>
	
</head>
<body>
<h1>Valores de grasa y sólido</h1>
<div class = "container">
    <table th:border = "0" class = "content-table">
        <thead>
        <tr>
            <th>Código proveedor</th>
            <th>Grasa</th>
            <th>Sólido</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="leche:${leche}">
            <td th:text="${leche.proveedorId}"></td>
            <td th:text="${leche.grasa}"></td>
            <td th:text="${leche.solido}"></td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<div class="button-container">
	<button onclick="window.location.href='/milkupload'">Subir Archivo</button>
	<button class="button2" onclick="history.back()">Volver</button>
</div>
</body>
</html>